:host ::ng-deep {
  .container-left {
  	height: 160px;
  	@media all and (min-width: 48em) {
  	  height: 100vh;
  	}
  }
  .navbar-brand {
  	img {
  	  height: 8.5rem;
  	}
  }
  .white-btn {
    background-color: white;
    background-image: none;
    color: #55a8d2;
    border: 2px solid #55a8d2;
  }
}