<section class="container-fluid">
  	
  	<div class="row">
    
    	<section class="container-left col-md-5 col-lg-6 col-xl-7">

	      	<nav class="container-left-logo navbar">
	        	
	        	<a href="#" class="navbar-brand">
	          		<img src="assets/img/logo.png" alt="Logotipo de la Oceano medicina">
	        	</a>

	      	</nav>
      
    	  	<section class="container-left-heading">
    	    	<h1>Bienvenido</h1>
    	    	<h2>Accede para ver tu cuenta y toda la información relevante sobre medicina</h2>
    	  	</section>
		  
    	</section>
	
    	<section class="container-right col-md-7 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">
  
      		<router-outlet></router-outlet>

    	</section>
    
  	</div>

</section>