<div class="wrapper" [hidden]="showMe">

    <div class="dialog" *ngIf="showDialog">
        <div class="dialog__form">
            <div class="dialog__form__select">
                <mk-form (onEnter)="falseClick()" name="jobs" [ids]="data.ids" [only]="_steps[_step]"></mk-form>
            </div>

            <ng-container *ngIf="_step == 1">
                <div class="dialog__form__select">
                    <mk-form-select-list-multiple [question]="_question" form="jobs"></mk-form-select-list-multiple>
                </div>
            </ng-container>
        </div>
        
        <div #button class="dialog__button" 
             mkStepvalidate [form]="_form_group" [filter]="_steps[_step]" 
             _ngcontent-c3="" (onClicked)="next()">
            ACEPTAR
        </div>        
    </div>

    <div class="submit__mes" *ngIf="showText">
        <h2>Un momento, por favor...</h2>
    </div>
</div>

