<div class="card"
	 [ngClass]="{ inactive : _inactive === true }">
	<div class="card__photo">
		<img class="card__photo__img" src="{{_img}}">
	</div>

	<div class="card__text">
		<div class="card__text__title">
			<h2>{{_title}}</h2>
		</div>

		<button class="card__text__submit" (click)="go()"
				[ngClass]="{activate : _state === 'untouched',
							initiate : _state === 'pending',
							enter : _state === 'active',
							expired : _state === 'expired',
							terminated : _state === 'terminated'}">
			{{ _buttonMessage }}
		</button>

		<div class="card__text__button"
			 (click)="muestra()"
			 (mouseenter)="muestra()"
			 (mouseleave)="muestra()">
			<i class="material-icons">
				list_alt
			</i>
			<p>Ver estado de la licencia</p>
		</div>

		<!-- TO DO - habilitar cuando estén disponibles los manuales -->
		<!-- <div class="card__text__button">
			<i class="material-icons">
				save_alt
			</i>
			<p>Descargar manual de uso de plataforma</p>
		</div> -->
	</div>
</div>

<div class="licencia_popover" *ngIf="show">
	<i class="material-icons licencia_popover__close"
	   (click)="muestra()"
	   title="Cerrar">
		close
	</i>
	<div class="licencia_popover__respuestas">
		<div *ngIf="_state === 'untouched'">
			<p>El curso no se ha iniciado</p>
		</div>
		<div *ngIf="_state === 'pending'">
			<p>La licencia se ha cedido</p>
		</div>
		<div *ngIf="_state === 'active'">
			<p>Válido hasta: </p>
			<p>{{ _expiryDate }}</p>
		</div>
		<div *ngIf="_state === 'expired'">
			<p>Esta licencia ha expirado</p>
		</div>
		<div *ngIf="_state === 'terminated'">
			<p>El curso ha sido finalizado</p>
		</div>		
	</div>

</div>
