<div class="card"
	 [ngClass]="{ inactive : _inactive === true }">
	<div class="card__photo">	
		<img class="card__photo__img" src="{{_img}}">
	</div>

	<div class="card__text">
		<div class="card__text__title">
			<h2>{{_title}}</h2>			
		</div>

		<button class="btn" (click)="go()"
				[ngClass]="{activate : _state === 'untouched',
							initiate : _state === 'pending',
							enter : _state === 'active',
							expired : _state === 'expired',
							terminated : _state === 'terminated'}">
			{{ _buttonMessage }}
		</button>
		<p>Descargar manual de uso de plataforma</p>
	</div>	
</div>