.card {
  width: 20vmin;
  text-align: center;
	border: 1px solid rgb(190,190,190);
	border-radius: 15px;
	overflow: hidden;
  .card__photo {
	width: 20vmin;
	margin: 0px auto;
  	.card__photo__img {
	    width: 100%;
	  }
  }
  .card__text {
	padding: 10px 15px 0px;
	  h1 {
	    font-size: 1.5vmin;
	  }
  }
}
