.card {
	width: 25vmin;
	height: 37vmin;
	margin: 15px;
	border-radius: 15px;
	overflow: hidden;
	.card__image {
		width: 100%;
	}
	.card__text {
		padding: 10px;
		text-align: center;
		.card__text__title {
			height: 10vmin;
			margin: 2vmin 0px;
		}
		h3 {
			font-size: 1.7vmin;
		}
		p {
			font-size: 1.2vmin;
		}
		button {
			border-radius: 15px;
		}
	}
}