@import '~scss/abstracts/variables';

.card {
	position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(190,190,190);
  border-radius: 15px;
  overflow: hidden;
	
	.card__photo {
  	display: flex;
    justify-content: center;
  	width: 100%;
		.card__photo__img {
			height: 13vmax;
			@media all and (min-width: 54em) {
			  height: 11vmax;
			}
			@media all and (min-width: 84em) {
			  height: 9vmax;
			}
		}
	}
	
  .card__text {
	padding: 0vmin 1vmin;
	
		.card__text__title {
	  	min-height: 9vh;
	  	display: flex;
	  	align-items: center;
	  	h2 {
				font-size: calc(.6vw + .6vh + .3vmin);;
				padding: 0.5vh 0px;

				@media all and (min-width: 54em) {
					font-size: calc(.5vw + .5vh + .2vmin);
				}

				@media all and (min-width: 84em) {
					font-size: calc(.6vw + .4vh + .2vmin);
				}
	  	}
		}	
	  
		.card__text__submit {
	  	padding: 1vh;
			border-radius: 30px;
    	font-size: calc(.5vh + .5vw + .3vmin);
	  	width: 95%;
	  	background-color: $color-cursos;
	  	color: white;
	  	border-color: transparent;
	  	cursor: pointer;
		}
	  
		.card__text__button {
	  	display: flex;
	  	margin: 1vmin 0.5vmin;
	  	cursor: pointer;
	  	i {
				border: 0.1vh solid rgb(53, 206, 99);
				border-radius: 35px;
				padding: 0.1vh;
				font-size: 2vh;
				height: 4.4vh;
				color: rgb(53, 206, 99);
			  @media all and (min-width: 42em) {
					height: 2.4vh;
				}
	  	}		
	  	p {
				margin: 0.2vmin auto;
				font-size: calc(.6vw + .6vh + .3vmin);
				text-align: left;
				max-width: 75%;
				@media all and (min-width: 54em) {
					font-size: calc(.5vw + .5vh + .3vmin);
				}

				@media all and (min-width: 84em) {
					font-size: calc(.4vw + .4vh + .2vmin);
				}
	  	}
		}

		.card__text__popover {
		  font-size: 1.2vmin;
		  font-weight: 500;
			position: fixed;
			background-color: white;
			padding: 2vh;
			border: 1px solid;
			width: 15vw;
		}

		.activate {
		  background-color: $color-cursos
		}
	
		.initiate {
		  background-color: rgb(231, 184, 31);
		}
	
		.enter {
		  background-color: rgb(53, 206, 99);
		}
	
		.expired {
		  background-color: rgb(180, 30, 13);
		}
	
		.terminated {
		  background-color: rgb(128, 13, 5);
		}
  }
}

.inactive {
  filter: opacity(0.3);
}

.licencia_popover {
	position: absolute;
	bottom: 5.5vh;
	z-index: 2;
	width: 48%;
	max-height: 15vh;
	padding: 0.5vh;
	border: 1px solid;
	background-color: white;
	text-align: center;
	.licencia_popover__close {
		display: flex;
		flex-direction: row-reverse;
		font-size: 1.5vh;
		cursor: pointer;
	}
	.licencia_popover__respuestas {
		padding: 0.5vh;
		p {
			font-size: calc(.5vw + .5vh + .3vmin);
		}		
	}

	@media all and (min-width: 54em) {
		width: 31%;
	}

	@media all and (min-width: 84em) {
		width: 24%;
		.licencia_popover__respuestas {
			p {
				font-size: calc(.4vw + .4vh + .2vmin);
			}
		}		
	}
}