<div class="card"
	 [ngClass]="{ inactive : _inactive === true }">
	<div class="card__photo">
		<img class="card__photo__img" src="{{_img}}">
	</div>

	<div class="card__text">
		<div class="card__text__title">
			<h2>{{_title}}</h2>
		</div>

		<button class="card__text__submit" (click)="go()"
				[ngClass]="{activate : _state === 'untouched',
							initiate : _state === 'pending',
							enter : _state === 'active',
							expired : _state === 'expired',
							terminated : _state === 'terminated'}">
			{{ _buttonMessage }}
		</button>

		<div class="card__text__button"
			 [popover]="estadoLicencia">
			<i class="material-icons">
				list_alt
			</i>
			<p>Ver estado de la licencia</p>
		</div>

		<popover-content #estadoLicencia
						 [animation]="true">
			<div *ngIf="_state !== expired">
				<p class="card__text__popover">Válido hasta: {{ _expiryDate }}</p>				
			</div>

			<div *ngIf="_state == expired">
				<p class="card__text__popover">La licencia ha caducado</p>				
			</div>

		</popover-content>

		<div class="card__text__button">
			<i class="material-icons">
				save_alt
			</i>
			<p>Descargar manual de uso de plataforma</p>
		</div>
	</div>
</div>