<div class="wrapper" [hidden]="showMe" >

    <div class="form-container">
        <div class="select-step">
            <mk-form name="user" [ids]="data.ids" [only]="_steps[_step]"></mk-form>
        </div>

        <ng-container *ngIf="_step == 1">
            <div class="select-especialization">
                <mk-form-select-list-multiple [question]="_question" form="user"></mk-form-select-list-multiple>
            </div>
        </ng-container>
    </div>
    
    <div class="button-container">
        <button mkStepvalidate [form]="_form_group" [filter]="_steps[_step]" _ngcontent-c3="" class="btn" (onClicked)="next()" >ACEPTAR</button>
    </div>

</div>