@import '~scss/abstracts/variables';

:host ::ng-deep {
  position: absolute;
  background-color: white;
  top: -100px;
  left: 0px;
  right: 0px;
	bottom: 0px;
	height: 100vh;
	@media all and (min-width: 48em) {
		top: 0px;
	}

  .request {
		margin: 5vh 10vw;
		
		@media all and (min-width: 48em) {
			max-height: 85vh;
			overflow: auto;
		}

	.request__header {
	  display: flex;
	  flex-direction: row-reverse;
	  justify-content: space-between;
		padding-bottom: 1vh;
		mat-icon {
			cursor: pointer;
		}
    h1 {
		  color: $color-certificaciones;
			font-size: calc(1.7vw + 1.7vh + .7vmin);
			@media all and (min-width: 48em) {
				font-size: calc(1.1vw + 1.1vh + .7vmin);
			}
		}
		@media all and (min-width: 48em) {
			position: fixed;
			width: 45%;
			background-color: white;
		}
	}

	.request__form {
		padding-bottom: 3vh;
		label {
			font-size: 2vh;
		}
		input {
			font-size: 3vh;
		}
		@media all and (min-width: 48em) {
			margin-top: 8vh;
		}
	}

	.request__button {
	  padding: 2vh;
	  margin-bottom: 2vh;
	  border-radius: 35px;
	  font-size: calc(1vh + 1vw + .5vmin);
	  width: 50vw;
	  background-color: #23B55E;
	  color: white;
		border-color: transparent;
		text-align: center;
	  cursor: pointer;
	  p {
			margin: 0px;
		}
		@media all and (min-width: 48em) {
			padding: 1.5vh;
			font-size: calc(.6vh + .6vw + .3vmin);
			width: 25vw;
		}
	}
  }
}