<div *ngIf="mustShow()">

	<img src="{{_img}}"/>

	<h1>{{_title}}</h1>

	<p>{{_text}}</p>

	<ng-container *ngIf="_recovery">	
		<input #recovery type="text" name="recovery" />
	</ng-container>

	<ng-container *ngIf="_change">	
		<mk-form (onEnter)="falseClick()" name="passchange"></mk-form>
	</ng-container>

	<button #button class="btn-registration" (click)="send()">{{_btn}}</button>

</div>

<cam-response *ngIf="_show_response" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>
