<div *ngIf="mustShow()">
	<div class="recover-wrap">
		<img class="recover-wrap__img" src="{{_img}}"/>

		<div class="recover-wrap__text">
			<h1 class="recover-wrap__text__title">{{_title}}</h1>

			<p class="recover-wrap__text__body">{{_text}}</p>			
		</div>

		<ng-container *ngIf="_recovery">
			<mk-form (onEnter)="falseClick()" name="recovery-password" [checkerr]="_fieldError"></mk-form>
		</ng-container>

		<ng-container *ngIf="_change">	
			<mk-form (onEnter)="falseClick()" name="passchange"></mk-form>
		</ng-container>

		<button #button mkStepvalidate [form]="_form" class="btn-registration" (onClicked)="send()" (onChecking)="checkError()">{{_btn}}</button>		
	</div>
</div>

<cam-response *ngIf="_show_response" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>
