@import '~scss/abstracts/variables';

.recover-wrap {
  display: flex;
  flex-direction: column;
	align-items: center;    
	margin-top: 10vh;
	background-color: white;

  @media all and (min-width: 48em) {
		margin-top: 0px;
  }

  .recover-wrap__img {
		height: 80px;
		width: 80px;
  }

  .recover-wrap__text {
		padding-top: 5vh;
		text-align: center;
	}

	.recover-wrap__text__header {
	  font-size: calc(1.8vw + 1.8vh + .6vmin);
	  @media all and (min-width: 48em) {
			font-size: calc(1.5vw + 1.5vh + .6vmin);
	  }
	}

	.recover-wrap__text__body {
	  padding-top: 2vh;
	  font-size: calc(1.2vw + 1.2vh + .6vmin);
	  @media all and (min-width: 48em) {
			font-size: calc(.8vw + .8vh + .4vmin);
	  }
	}

	.btn-registration {
		margin-top: 2rem;
	}
	
	::ng-deep {
		.form-group {
			display: flex;
			border: none;
			.form-control {
				padding: 1vh;
				width: 80vw;
				border: 1px solid $color-campus-layout-left-dblue;
				box-shadow: 0px 1px 3px darken($color-campus-layout-left-dblue, 25);
				border-radius: 35px;
				font-size: calc(1.2vw + 1.2vh + .6vmin);
				text-align: center;
				@media all and (min-width: 48em) {
					width: 40vw;
					font-size: calc(.8vw + .8vh + .4vmin);
				}
			}
		}
	}
}