<div class="certificates">
	<h1 class="certificates__header"
		*ngIf="_currentWindowWidth >= 768">
		MIS CERTIFICACIONES
	</h1>

	<div class="certificates__wrapper">
		<div class="certificates__wrapper__button"
			 [ngClass]="{ certificates__wrapper__button_inactive : _first === true }"
			 *ngIf="_currentWindowWidth > 768">
			<i class="material-icons"
			   (click)="minusSlide()">
				arrow_back_ios
			</i>
		</div>

		<div class="certificates__wrapper__carousel" (swipeleft)="plusSlide()" (swiperight)="minusSlide()">
			<div #carousel class="certificates__wrapper__carousel__flow"
				 [style.transform]="'translateX('+amount+'px)'">
				<div class="certificates__wrapper__carousel__flow__content" #certificado
					*ngFor="let certificate of _certificates">
						<certificate-card [certificate]="certificate" 
										  (request)="showRequest($event)"></certificate-card>
				</div>
			</div>
		</div>

		<div class="certificates__wrapper__button"
			 [ngClass]="{ certificates__wrapper__button_inactive : _last === true }"
			 *ngIf="_currentWindowWidth > 768">
			<i class="material-icons"
			   (click)="plusSlide()">
				arrow_forward_ios
			</i>
		</div>
	</div>
</div>

<div class="certificates_progress">
	<div class="certificates_progress__bar"
		 [style.width]="''+progressBarWidth+'%'"></div>
</div>

<certificate-request *ngIf="_showRequest" (submit)="requestCompleted()" (close)="closeRequest()" [code]="_code"></certificate-request>

<cam-response *ngIf="_sent" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>

<terms-footer></terms-footer>