@import '~scss/abstracts/variables';

.certificates {
	width: 90vw;
	@media all and (min-width: 48em) {
		margin-top: 10vh;
		width: 52vw;	
	}
	@media all and (min-width: 54em) {
	  width: 57vw;
	}
}
	.certificates__header {
	  color: $color-certificaciones;
		font-size: calc(1.7vw + 1.7vh + .7vmin);
		padding-bottom: 2vh;
		padding-left: 25px;
		@media all and (min-width: 48em) {
			font-size: calc(1.1vw + 1.1vh + .7vmin);
		}
	}
  
	.certificates__wrapper {
	  display: flex;
	}
  
	  .certificates__wrapper__button {
			margin: auto 0px;
			color: $color-certificaciones;
			cursor: pointer;
	  }
  
	  .certificates__wrapper__button_inactive {
			color: white;
	  }
  
	  .certificates__wrapper__carousel {
			overflow: hidden;
  
		  .certificates__wrapper__carousel__flow {
		    width: 100%;
		    display: flex;
		    flex-direction: row;
		    transition: transform .7s, -webkit-transform .7s;
    
		    .certificates__wrapper__carousel__flow__content {
		  	  width: 75%;
		  	  padding: 0px 5px;
		  	  @media all and (min-width: 54em) {
		  	  	width: 50%;
		  	  }
		  	  @media all and (min-width: 70em) {
		  	    width: 33.3%
		  	  }
		  	  @media all and (min-width: 84em) {
		  	    width: 25%;
		  	  }
		    }
		  }
	  }

	.certificates_progress {
	  margin-top: 20px;
	  width: 90vw;
	  height: 6px;
		@media all and (min-width: 48em) {
	    width: 52vw;
		}
		@media all and (min-width: 54em) {
			width: 57vw;
		}
	
	  .certificates_progress__bar {
			height: 100%;
			border-radius: 25px;
			background: linear-gradient(to right, lighten($color-certificaciones, 10), darken($color-certificaciones, 10));
			transition: width 1.5s;
	  }
	}