<ng-container *ngFor="let certificate of _certificates">

	<certificate-card [certificate]="certificate" (request)="showRequest($event)"></certificate-card>

</ng-container>

<certificate-request *ngIf="_showRequest" (submit)="requestCompleted()" (close)="closeRequest()" [code]="_code"></certificate-request>

<cam-response *ngIf="_sent" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>