<div class="select">
    <h2 class="select__header">Solicitud de datos personales para la certificación</h2>

    <div class="select__text select__text_strong">
        <p>
            Para obtener la certificación asociada al programa formativo, es imprescindible que
            los datos personales que proporciones a Océano Medicina sean correctos.
        </p>    
    </div>

    <div class="select__text">
        <p>
            Si no es usted la persona que va a realizar el programa, debe ceder la licencia al 
            usuario final, el cual deberá registrarse en el sistema con sus datos personales.
        </p>    
    </div>

    <div class="select__button select__button_activar"
         (click)="send(true)">
        EL PROGRAMA ES PARA MÍ
    </div>

    <div class="select__button select__button_ceder"
         (click)="send(true)">
        EL PROGRAMA NO ES PARA MÍ
    </div>
</div>

