@import '~scss/abstracts/variables';

.wrapper {
  position: absolute;
  top: -180px;
  left: 0px;
  right: 0px;
  background-color: white;
  height: 100vh;
  @media all and (min-width: 48em) {
    top: 0px;
    padding-top: 10vh;
    overflow: auto;
  }
}

.close {
  cursor: pointer;
}

.close_wrapper {
  display: flex;
  flex-direction: row-reverse;

  .close_confirm {
    margin: 0px 20px;
    padding: 15px;
    font-size: 1.75rem;
    border: 1px solid;
    width: 250px;
    position: absolute;
    background-color: white;
    margin: 0 20px;
    text-align: center;

    .close_confirm__opt {
      display: flex;
      justify-content: space-around;
      padding-top: 2vh;
      font-size: 2rem;
      font-weight: 450;

      p {
        cursor: pointer;
      }

      p:hover {
        color: #44c6ea;
      }
    }
  }
}

.select {
  text-align: center;
  padding: 5vmin;

  .select__header {
    padding-bottom: 2vh;
    font-size: calc(2vw + 2vh + 1vmin);
  }

  .select__text {
    padding-top: 1vh;
    text-align: justify;
    font-size: calc(1vw + 1vh + .5vmin);
  }

  @media all and (min-width: 34em) {
    .select__header {
      font-size: calc(1.5vw + 1.5vh + .7vmin);
    }

    .select__text {
      font-size: calc(.7vw + .7vh + .4vmin);
    }
  }
  @media all and (min-width: 62em) {
    .select__header {
      font-size: calc(1.3vw + 1.3vh + .6vmin);
    }

    .select__text {
      font-size: calc(.6vw + .6vh + .3vmin);
    }
  }

  .select__text_strong {
    font-weight: 600;
  }

  .select__button {
    width: 50vw;
    padding: 2vh;
    border-radius: 40px;
    margin: 10px auto;
    color: white;
    font-size: calc(.8vw + .8vh + .4vmin);
    font-weight: 400;
    cursor: pointer;

    @media all and (min-width: 43em) {
      width: 35vw;
      font-size: calc(.6vw + .6vh + .3vmin);
    }
  }

  .select__button_activar {
    background-color: $color-cursos;
    margin-top: 10vh;
  }

  .select__button_ceder {
    background-color: rgb(240, 151, 18);
    margin-top: 3vmin;
  }
}

.activar {
  display: flex;
  flex-direction: column;
  padding: 5vmin;

  .activar__header {
    font-size: calc(1.6vw + 1.6vh + .8vmin);
    color: $color-cursos;
    padding-bottom: 2vh;
    @media all and (min-width: 34em) {
      font-size: calc(1.2vw + 1.2vh + .6vmin);
    }
  }

  .activar__form {
    padding-bottom: 7vmin;
  }
}

.ceder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vmin;

  .ceder__header {
    font-size: calc(1.8vw + 1.8vh + .9vmin);
    padding-bottom: 2vh;
    @media all and (min-width: 34em) {
      font-size: calc(1.4vw + 1.4vh + .7vmin);
    }
    @media all and (min-width: 62em) {
      font-size: calc(1.2vw + 1.2vh + .6vmin);
    }
  }

  .ceder__text {
    font-size: calc(1.2vw + 1.2vh + .6vmin);
    padding-bottom: 2vh;
    @media all and (min-width: 34em) {
      font-size: calc(1vw + 1vh + .5vmin);
    }
    @media all and (min-width: 62em) {
      font-size: calc(0.8vw + 0.8vh + .4vmin);
    }
  }

  .ceder__form {
    width: 75%;
  }

  .ceder__producto {
    display: flex;
    width: fit-content;
    border: .2vh solid $color-cursos;
    border-radius: 30px;
    padding: 1vh;
    margin-top: 3vh;
    margin-bottom: 5vh;

    i {
      margin: auto;
      color: $color-cursos;
      font-size: 3vh;
    }

    h3 {
      padding: 0 2vh;
      font-size: calc(1vw + 1vh + .5vmin);
      @media all and (min-width: 48em) {
        font-size: calc(.7vw + .7vh + .4vmin);
      }
      @media all and (min-width: 62em) {
        font-size: calc(.6vw + .6vh + .3vmin);
      }
    }
  }
}

.ceder__ok {
  text-align: center;
  padding: 5vmin;
  width: 100%;

  .ceder__ok__img {
    padding-bottom: 3vh;
  }

  .ceder__ok__text {
    font-size: calc(1.2vw + 1.2vh + .6vmin);
    padding-bottom: 2vh;
    color: gray;
    @media all and (min-width: 34em) {
      font-size: calc(1vw + 1vh + .5vmin);
    }
    @media all and (min-width: 62em) {
      font-size: calc(0.8vw + 0.8vh + .4vmin);
    }
  }
}

.submit__button {
  width: fit-content;
  border-radius: 35px;
  padding: 1.5vh 5vw;
  background-color: rgb(53, 206, 99);
  text-align: center;
  font-size: calc(1vw + 1vh + .5vmin);
  color: white;
  cursor: pointer;
  @media all and (min-width: 48em) {
    padding: 1vh 5vw;
    font-size: calc(.7vw + .7vh + .3vmin);
  }
}

.submit__button_ok {
  margin: 0px auto;
}