.wrapper {
  i {
    font-size: 2vmin;
    padding: 0.5vmax;
    color: white;
    border: 0.15vmax solid white;
    border-radius: 31px;
    margin-top: 2vmax;
    margin-left: 1vmax;
    cursor: pointer;
  }
}