/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$color-campus-layout-left-dblue: #53AFEC; 


$color-cuenta: #53b0ed;
$color-cursos: #44c6ea;
$color-certificaciones: #6497f0;