@import '~scss/abstracts/variables';

.cert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(190,190,190);
  border-radius: 25px;
  overflow: hidden;

  .cert-card__photo {
		.cert-card__photo__img {
			height: 13vmax;
			@media all and (min-width: 54em) {
			  height: 11vmax;
			}
			@media all and (min-width: 84em) {
			  height: 9vmax;
			}
		}
  }

  .cert-card__title {
		display: flex;
    align-items: center;
		padding: 0vmin 1vmin;
    min-height: 8vmax;
		text-align: center;
		h2 {
			font-size: calc(.7vw + .5vh + .3vmin);;

			@media all and (min-width: 54em) {
				font-size: calc(.6vw + .4vh + .3vmin);
			}

			@media all and (min-width: 84em) {
				font-size: calc(.5vw + .4vh + .3vmin);
			}
		}
  }

  .cert-card__button {
		padding: 1vh;
		margin-bottom: 1vh;
		border-radius: 35px;
		width: 90%;
		background-color: $color-certificaciones;
		color: white;
		border-color: transparent;
		text-align: center;
		cursor: pointer;
		p {
			margin: 0px;
			font-size: calc(.4vw + .4vh + .2vmin);
		}
  }
}