@import '~scss/abstracts/variables';

.courses {
  margin: auto;
  width: 42vmax;
  
  @media all and (min-width: 54em) {
    width: 52vmax;
  }
}
  .courses__header {
    color: $color-cursos;
    font-size: 3vmin;
    padding-bottom: 5vmin;
    padding-left: 2vmin;
  }

  .courses__wrapper {
    display: flex;
  }

    .courses__wrapper__button {
      margin: auto 0px;
      color: $color-cursos;
      cursor: pointer;
    }

    .courses__wrapper__button_inactive {
      color: gray;
    }

    .courses__wrapper__carousel {
      overflow: hidden;

      .courses__wrapper__carousel__flow {
        width: 100%;
        display: flex;
        flex-direction: row;
        transition: transform 1.2s, -webkit-transform 1.2s;

        .courses__wrapper__carousel__flow__content {
          width: 50%;
          padding: 0px 5px;
          
          @media all and (min-width: 54em) {
            width: 33.3%
          }

          @media all and (min-width: 78em) {
            width: 25%;
          }
        }
      }
    }

  .courses_progress {
    margin: auto;
    width: 42vmax;
    height: 0.6vmin;
    
    @media all and (min-width: 54em) {
      width: 52vmax;
    }

    .courses_progress__bar {
      height: 100%;
      border-radius: 25px;
      margin-top: 2vmin ;
      background: linear-gradient(to right, lighten($color-cursos, 10), darken($color-cursos, 10));
      transition: width 1.5s;
    }
  }