<div class="courses_wrapper">
	<div class="courses_wrapper__button">
		<i class="material-icons"
			(click)="minusSlide()">
			arrow_back_ios
		</i>
	</div>

	<div class="courses_wrapper__carousel">
		<div #courses_wrapper__carousel class="courses_wrapper__carousel__flow" [style.transform]="'translateX('+amount+'px)'">
			<div class="courses_wrapper__carousel__flow__content" #curso *ngFor="let course of _courses">
				<course-card [course]="course"></course-card>
			</div>
		</div>
	</div>

	<div class="courses_wrapper__button">
		<i class="material-icons"
			(click)="plusSlide()">
			arrow_forward_ios
		</i>
	</div>	
</div>

	

