<div class="carousel">
	<div class="carousel__flow">
		<div class=carousel__flow__button>
			<i class="material-icons"
			(click)="changeSlide(-1)">
				arrow_back_ios
			</i>
		</div>

		<div class="carousel__flow__content" #curso *ngFor="let course of _courses">
			<course-card [course]="course"></course-card>
		</div>

		<div class="carousel__flow__button">
			<i class="material-icons"
			(click)="changeSlide(1)">
				arrow_forward_ios
			</i>
		</div>	
	</div>

	<div class="carousel__legend">
		<h3>Página {{ index }} de {{ _courses.length }}</h3>		
	</div>	
</div>
	

