@import '~scss/abstracts/variables';

.carousel {
  width: 44vmin;
  overflow: hidden;
  .carousel__flow {
    display: flex;
    flex-direction: row;
    transition: transform 1.2s, -webkit-transform 1.2s;
    .carousel__flow__button {
	    margin: auto 0px;
	    color: $color-cursos;
    }
    .carousel__flow__content {
      padding: 0px 10px;
      button {
        color: white;
  	    background-color: $color-cursos;
      }
    }
  }
}

.carousel__legend {
  text-align: center;
  padding: 20px;
}
