<div class="carousel">
	<div class=carousel__flow__button>
		<i class="material-icons"
		(click)="minusSlide()">
			arrow_back_ios
		</i>
	</div>	

		<div #carousel class="carousel__flow" [style.transform]="'translateX('+amount+'px)'">
			<div class="carousel__flow__content" #curso *ngFor="let course of _courses">
				<course-card [course]="course"></course-card>
			</div>
		</div>		

	<div class="carousel__flow__button">
		<i class="material-icons"
		(click)="plusSlide()">
			arrow_forward_ios
		</i>
	</div>
</div>
	

