@import '~scss/abstracts/variables';

:host ::ng-deep
{
	.container-left
	{
		background-image: none;
	}

	section 
	{
		-webkit-transition: background-color 300ms ease-in;
    	-ms-transition: background-color 300ms ease-in;
    	transition: background-color 300ms ease-in;
	}

	.mis-cursos
	{
		.container-left
		{
			background-color: $color-cursos;
		}
	}

	.mi-cuenta
	{
		.container-left
		{
			background-color: $color-cuenta;
		}
	}

	.cambiar-contrasena
	{
		.container-left
		{
			background-color: $color-cuenta;
		}
	}

	.mis-certificaciones
	{
		.container-left
		{
			background-color: $color-certificaciones;
		}
	}

	.container-left-heading {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 2.5vmin;
		margin-top: 8vmax;

		.avatar {
			padding-bottom: 5vmax;
		}

		.heading-link {
			padding-bottom: 3vmax;
		}
	}
}
