@import '~scss/abstracts/variables';

:host ::ng-deep
{
	.container-left
	{
		background-image: none;
	}

	section 
	{
		-webkit-transition: background-color 300ms ease-in;
    	-ms-transition: background-color 300ms ease-in;
    	transition: background-color 300ms ease-in;
	}

	.mis-cursos
	{
		.container-left
		{
			background-color: $color-cursos;
		}
	}

	.mi-cuenta
	{
		.container-left
		{
			background-color: $color-cuenta;
		}
	}

	.cambiar-contrasena
	{
		.container-left
		{
			background-color: $color-cuenta;
		}
	}

	.mis-certificaciones
	{
		.container-left
		{
			background-color: $color-certificaciones;
		}
	}

	.container-left-heading {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 2.5vmin;
		margin: 8vmax auto 0;

		.avatar {
			padding-bottom: 3vmax;
		}

		.heading_link {
			padding-top: 3vmax;
			padding-bottom: 1vmax;
		}

		.heading_link_active {
			border-bottom: 0.2vmin solid;
			border-image: linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 40%) 3;
		}
	}
}
