<section class="container-fluid {{_outer_class}}">
  	
  	<div class="row">
    
    	<section class="container-left col-md-5 col-lg-4 col-xl-4">
			
      	<section class="container-left-heading">
				<div class="navigation">
						<div class="navigation__menu">
							<log-out></log-out>				

							<img src="assets/img/logo.png" alt="Logotipo de la Oceano medicina"
								 class="logo"
								 *ngIf="_currentWindowWidth < 768">

							<user-avatar *ngIf="_currentWindowWidth >= 768" class="avatar"></user-avatar>
						</div>

						<div class="navigation__sites">
							<a class="heading_link" 
								[ngClass]="{ heading_link_active : _cuenta === true }"
								routerLink="/{{_acount}}" routerLinkActive="active">MI CUENTA</a>
							<a class="heading_link" 
								[ngClass]="{ heading_link_active : _cursos === true }"
								routerLink="/{{_courses}}" routerLinkActive="active">MIS CURSOS</a>
							<a class="heading_link" 
								[ngClass]="{ heading_link_active : _certificados === true }"
								routerLink="/{{_certificates}}" routerLinkActive="active">CERTIFICACIONES</a>
						</div>
				</div>
			</section>

		</section>

	  <section class="container-right col-md-7 col-lg-8 col-xl-8 d-flex align-items-center justify-content-center"
			   [ngClass]="{ container_right__cuenta : _cuenta === true,
							container_right__cursos : _cursos === true,
							container_right__certificados : _certificados === true,
							container_right__terminos : _terminos === true,
							container_right__password : _password === true }">
  
			<router-outlet></router-outlet>

    	</section>
    
  	</div>

</section>