@import '~scss/abstracts/variables';

.response {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5vmax;

  .response__img {
	  margin-bottom: 2vmax;
  }

  .response__title {
	  color: black;
	  font-size: 3vmin;
	  margin-bottom: 2vmax;
  }

  .response__msg {
	  font-size: 2vmin;
	  margin-bottom: 2vmax;
  }

  .response__btn {
	  width: fit-content;
	  padding: 1vmax 3vmax;
	  border-radius: 30px;
	  border: transparent;
    font-size: 1.2vmin;
	  font-weight: 500;
	  color: white;
    background-color: $color-cuenta;
    cursor: pointer;
  }
}