<h1>MI CUENTA</h1>

<mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" [only]="_onl1" [ids]="_ids"></mk-form>
<mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" [only]="_onl3" [ids]="_ids"></mk-form>
<mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" cols="2" [only]="_onl2" [ids]="_ids"></mk-form>

<p class="interes">Especializaciones de interés</p>
<div class="field-espec">
    <div *ngFor="let seak of julome">
        <p>{{ seak }}</p>
    </div>
</div>
<div class="button-container">
    <button _ngcontent-c3="" 
    class="btn field__button" 
    (click)="openFirstDialog()">
    ACTUALIZAR
    </button>    
</div>

<span><img src="{{_key}}"/></span><a routerLink="/campus/{{_pass_change}}" routerLinkActive="active">Cambiar contraseña</a>

<div>
    <button #button (click)="send()">ACEPTAR</button>
</div>

<cam-response *ngIf="_sent" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>