@import '~scss/abstracts/variables';

:host ::ng-deep
{
  div[cols="col-6"]:first-child {
	width: 20%;
  }

  div[cols="col-6"]:last-child {
	width: 78%;
	}
	
	.account {
		padding: 5vh 7vw;
	}

  h1	{
		color: $color-cuenta;
		font-size: calc(1.1vw + 1.1vh + .7vmin);
		padding-bottom: 2vh;
	}

	.forms_container {
		label {
			font-size: 2vh;
		}
		input {
			font-size: 3vh;
		}

		@media (min-width: 767.98px) and (max-width: 1199.98px) {
			.mail-wrapper {
				max-width: 54rem;
			}		
		}
	}

  .intereses__header {
	  font-size: 2vh;
	  font-weight: 300;
  }

  .intereses__field {
	  border-bottom: 1px solid grey;
	  .intereses__field__text {
	    padding: 0.5vmin;
		  font-size: 2.3vh;
		  color: #515151;
	  }
  }

  .dialog-button {
  	width: 100%;
	  display: flex;
	  justify-content: flex-end;
	  color: $color-cuenta;
	  font-weight: 500;
	  padding-top: 10px;
	  p {
			cursor: pointer;
			font-size: calc(.7vw + .7vh + .3vmin);
	  }
  }

  .password-button {
		padding: 20px 0px 40px;
		img {
			padding-bottom: 1vh;
		}

	  .password-button__text {
	    font-size: calc(.6vw + .6vh + .3vmin);
	    padding-left: 11px;
	    font-style: italic;
	    color: gray;
	  }
  }

  .submit__button {
	  background-color: white;
	  color: #23B55E;
	  padding: 1vh;
	  border-radius: 30px;
	  border: 1px solid #23B55E;
	  width: 14vw;
	  font-size: calc(.7vw + .7vh + .3vmin);
  }

  .submit__button_active {
	  background-color: #23B55E;
		color: white;
		cursor: pointer;
  }
}

::ng-deep {
  .custom-dialog {
	.mat-dialog-container {
	  background-color: transparent;
	  box-shadow: none; 
	}

	.form-group li:last-child {
	  border-bottom: none;
	}

	.form-group li:first-child {
	  border-top: none;
	}

	.form-group {
	  border-top: none;
	  border-bottom: none;
	}
  }
}
