@import '~scss/abstracts/variables';

:host ::ng-deep {
  div[cols="col-6"]:first-child {
	width: 20%;
  }

  div[cols="col-6"]:last-child {
	width: 78%;
	}
	
	.account {
		max-height: 140vh;
		padding: 5vh 5vw;
		@media all and (min-width: 48em) {
			max-height: 100vh;
			overflow: auto;
			padding: 10vh 5vw;
		}
	}

  h1	{
		color: $color-cuenta;
		font-size: calc(2vw + 2vh + 1vmin);
		padding-bottom: 2vh;
		@media all and (min-width: 48em) {
			font-size: calc(1.1vw + 1.1vh + .7vmin);
		}
	}

	.forms_container {
		label {
			font-size: 2vh;
		}
		input {
			font-size: 3vh;
		}

		@media (min-width: 767.98px) and (max-width: 1199.98px) {
			.mail-wrapper {
				max-width: 54rem;
			}		
		}
	}

  .intereses__header {
	  font-size: 2vh;
	  font-weight: 300;
  }

  .intereses__field {
	  border-bottom: 1px solid grey;
	  .intereses__field__text {
	    padding: 0.5vmin;
		  font-size: 2.3vh;
		  color: #515151;
	  }
  }

  .dialog-button {
  	width: 100%;
	  display: flex;
	  justify-content: flex-start;
	  color: $color-cuenta;
	  font-weight: 500;
		padding-top: 10px;
		@media all and (min-width: 48em) {
			justify-content: flex-end;
		}

	  p {
			cursor: pointer;
			font-size: calc(1.3vw + 1.3vh + .7vmin);
			@media all and (min-width: 48em) {
				font-size: calc(.7vw + .7vh + .3vmin);
			}
	  }
  }

  .password-button {
		padding: 20px 0px 40px;

		img {
			padding-bottom: 1vh;
		}

	  .password-button__text {
			font-size: calc(1.1vw + 1.1vh + .6vmin);
	    padding-left: 11px;
	    font-style: italic;
			color: gray;
			@media all and (min-width: 48em) {
				font-size: calc(.6vw + .6vh + .3vmin);
			}
	  }
  }

	.submit {
		padding: 0px 20vw;
		@media all and (min-width: 48em) {
			padding: 0px;
		}

		.submit__button {
			padding: 1vh;
			width: 35vw;
			border-radius: 30px;
			border: 1px solid #23B55E;
			background-color: white;
			color: #23B55E;
			font-size: calc(1.5vw + 1.5vh + .7vmin);
			@media all and (min-width: 48em) {
				width: 14vw;
				font-size: calc(.7vw + .7vh + .3vmin);
			}
		}

		.submit__button_active {
			background-color: #23B55E;
			color: white;
			cursor: pointer;
		}		
	}
}

::ng-deep .custom-dialog {
	.form-group li:last-child {
	  border-bottom: none;
	}

	.form-group li:first-child {
	  border-top: none;
	}
	
	.form-group {
	  border-top: none;
	  border-bottom: none;
	}
}