@import '~scss/abstracts/variables';

:host ::ng-deep
{
	div[cols="col-6"]:first-child
	{
		width: 20%;
	}

	div[cols="col-6"]:last-child
	{
		width: 78%;
	}

	.interes {
		font-size: 2.13rem;
		font-weight: 300;
	}

	.field-espec {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 540px;
		border-bottom: 1px solid grey;
		p {
			display: flex;
			flex-wrap: wrap;
			padding: 0.5vmin;
			font-size: 14px;
		}
	}

	.button-container {
		max-width: 540px;
		display: flex;
		justify-content: flex-end;
	}

	a
	{
		font-weight: bold;
	}

	button
	{
		color: white;
		background-color: $color-cuenta;
		height: 25px;
	}

	h1
	{
		color: $color-cuenta;
	}

	.button__submit {
		background-color: white;
		color: $color-cuenta;
	}

	.button__submit_active {
		background-color: $color-cuenta;
		color: white;
	}

}
::ng-deep {
	.custom-dialog {
		.mat-dialog-container {
			background-color: transparent;
			box-shadow: none; 
		}

		.form-group li:last-child {
			border-bottom: none;
		}

		.form-group li:first-child {
			border-top: none;
		}

		.form-group {
			border-top: none;
			border-bottom: none;
		}
	}
}
