<div class="account">
    <user-avatar *ngIf="_currentWindowWidth < 768"></user-avatar>
    <h1 *ngIf="_currentWindowWidth >= 768">MI CUENTA</h1>

    <div class="forms_container">
        <mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" [checkerr]="_fieldError" [only]="_onl1" [ids]="_ids"></mk-form>
        <mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" [checkerr]="_fieldError" [only]="_onl3" [ids]="_ids"></mk-form>
        <mk-form (onEnter)="falseClick()" *ngIf="_ids" name="user" [checkerr]="_fieldError" cols="2" [only]="_onl2" [ids]="_ids"></mk-form>        
    </div>


    <div class="intereses">
        <p class="intereses__header">Especializaciones de interés</p>

        <div class="intereses__field">
            <p class="intereses__field__text">
                <span>
                    {{ currentUser.user_details_job }} 
                </span>
                <span>- </span>
                <span
                *ngFor="let esp of currentUser.user_details_especialization"> 
                    {{ esp }}  -  
                </span>
                <span> 
                    {{ currentUser.user_details_college }} 
                </span>
            </p>
        </div>
    </div>

    <div class="dialog-button">
        <p (click)="openFirstDialog()">ACTUALIZAR</p>
    </div>

    <div class="password-button">
        <img src="{{_key}}"/>
        <a routerLink="/campus/{{_pass_change}}" routerLinkActive="active"
        class="password-button__text">
            Cambiar contraseña
        </a>
    </div>

    <div class="submit">
        <button class="submit__button" #button (onClicked)="send()" (onChecking)="showError()"
                [disabled]="inactive" mkStepvalidate [form]="_form_group">
            ACEPTAR
        </button>
    </div>

    <div class="watermark">
        <p>© 2019 • Grupo Oceano • Unidad Digital • Todos los derechos reservados.</p>
        <p class="terms-link"><a routerLink="/{{_terms_and_conditions}}">Términos y Condiciones</a></p>
    </div>
</div>

<cam-response *ngIf="_sent" [title]="_response_obj.title" [text]="_response_obj.text" 
              [btn]="_response_obj.btn" [img]="_response_obj.img" 
              [callback]="_response_obj.callback.bind(this)">
</cam-response>