@import '~scss/abstracts/variables';

:host ::ng-deep
{
	overflow: hidden;

	.result
	{
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
	}

	.cropper-container
	{
		overflow:hidden;
		border-radius: 50%;
		width: 160px;
		height:160px;
	}
}

.wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	width: 270px;
    height: 220px;
    border-radius: 0;
    background-color: white;
	.button-container {
		display: flex;
		justify-content: space-between;
		width: 200px;
		.cropper-button {
			padding: 7px;
			border: 1px solid transparent;
			border-radius: 25px;
			width: 80px;
			background-color: $color-cuenta;
			color: white;
			font-weight: 500;
			&:hover {
				background-color: darken($color-cuenta, 25);
			}
			&:focus {
				outline: 0;
			}
		}
		.cropper-button_reset {
			background-color: $color-certificaciones;
			&:hover {
				background-color: darken($color-certificaciones, 25);
			}
		}
	}
}