:host ::ng-deep
{
	overflow: hidden;


	.result
	{
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
	}

	div
	{
		overflow:hidden;
		border-radius: 50%;
		width: 160px;
		height:160px;
	}
}