:host ::ng-deep
{
	overflow: hidden;

	.result
	{
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
	}

	div
	{
		overflow:hidden;
		border-radius: 50%;
		width: 160px;
		height:160px;
	}
}

.wrapper {
	width: 270px;
    height: 220px;
    border-radius: 0;
    padding: 20px 0 20px 40px;
    background-color: white;
}