<div class="wrapper">
    <h1>TÉRMINOS Y CONDICIONES</h1>

    <h3>Lorem ipsum dolor sit amet</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nulla nibh, ultricies eget augue sit amet, consequat mollis nisi. Cras fringilla lectus ex, sed dapibus diam placerat at. Curabitur vitae nulla sed eros vestibulum aliquet sit amet eu dolor. Sed facilisis fringilla dui quis cursus. Vivamus faucibus risus purus, ut semper orci sodales a. Vivamus porttitor quam vitae tempor dapibus. Integer ipsum ex, cursus nec elementum vehicula, porta et est. Maecenas sed porta turpis, non interdum massa. Nunc purus turpis, dapibus eu justo vel, fringilla volutpat nibh. Morbi viverra turpis ac dolor mollis, ut porttitor massa euismod. In elementum auctor sagittis.
    </p>
    <p>
        Duis pretium magna ac nisi lacinia egestas. Phasellus urna quam, volutpat nec leo in, suscipit mollis est. Suspendisse consequat velit ut tellus laoreet faucibus. Nunc in nisl dignissim, porta dolor sit amet, efficitur nisi. Nunc vitae libero laoreet turpis vulputate ultricies. Morbi sit amet turpis nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a nulla dapibus, dignissim nisl posuere, eleifend ante. Curabitur maximus massa ac risus efficitur cursus. Integer tincidunt pellentesque lacus vel lobortis. Proin eget faucibus nunc. In hac habitasse platea dictumst. Aenean lobortis molestie ante, at porttitor risus lobortis sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vulputate pellentesque maximus. Mauris eu odio bibendum, consectetur turpis vel, pellentesque nulla.
    </p>

    <h3>Lorem ipsum dolor sit amet</h3>
    <p>
        Sed eget felis mattis, finibus ipsum non, dictum arcu. Fusce malesuada elit vitae volutpat rhoncus. Duis finibus placerat diam, sit amet elementum risus sodales a. Ut ex diam, dictum quis ligula nec, gravida euismod eros. Cras ac augue quis mauris iaculis sollicitudin et sed enim. Curabitur placerat, dui convallis luctus posuere, lorem neque dapibus nisi, sed tempus ipsum urna non odio. Nam facilisis placerat ante. Nunc auctor velit ut libero convallis, vel tincidunt nulla condimentum. Suspendisse molestie tortor sed justo pharetra bibendum.
    </p>
    <p>
        Ut tempus facilisis ligula et porttitor. Aliquam lacinia malesuada ante, eget suscipit tellus consequat at. Aliquam gravida, magna in vulputate iaculis, eros enim rhoncus mi, at porttitor purus felis sed quam. Nullam et purus ac diam porttitor ullamcorper sed vitae velit. Suspendisse faucibus, est vel accumsan sodales, dolor ligula luctus ipsum, sit amet dapibus tortor orci non ligula. Curabitur sed porttitor tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed luctus consequat scelerisque. Suspendisse purus mauris, ornare id lacus et, lacinia vulputate lorem. Aenean sed interdum velit.
    </p>

    <h3>Lorem ipsum dolor sit amet</h3>
    <p>
        Sed lobortis magna dui, fermentum luctus lectus tincidunt malesuada. Vivamus ante nisl, vulputate sit amet dictum vitae, sodales ut erat. Ut nulla eros, eleifend in dui eu, eleifend fringilla augue. Maecenas sed orci ac neque rhoncus luctus id ut arcu. Suspendisse cursus volutpat nunc, non convallis mauris semper vel. Mauris non imperdiet nisl, eget mattis enim. Quisque non nunc velit. Donec molestie sapien nec libero egestas, eu elementum sapien accumsan. Ut viverra erat eget leo suscipit, quis eleifend lectus fringilla. Sed urna odio, porttitor non justo a, faucibus rhoncus metus.
    </p>
    <p>
        Nam mollis, metus et ultricies aliquet, turpis sem finibus tortor, non bibendum sem ex quis felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur lectus ac consectetur condimentum. Donec ut pulvinar sapien, ac lacinia lectus. Donec sed mauris sem. Quisque sapien ipsum, consequat nec neque a, bibendum luctus mi. Nullam quis faucibus lorem. Ut commodo ante eu nisl accumsan dapibus. Aenean venenatis lectus in quam egestas tincidunt ut eu dui. Quisque laoreet nisl eget purus tempor malesuada. Aenean ut est ac nulla varius blandit.
    </p>
</div>

<div class="button-back" 
    (click)="backClick()"
    title="Volver atrás">
    <i class="fas fa-chevron-left"></i>
</div>