<mk-form name="registro" [ids]="ids" [only]="_steps[_step]"></mk-form>

<ng-container *ngIf="_step>=_steps.length-1">
	<input type="checkbox" id="cbox1" value="first_checkbox"><label style="font-size: 1.5rem; display: inline-block; float: right;"> He leído y aceptado los <span style="font-weight: bold; text-decoration: underline; text-decoration-color: #0cb1ff;" (click)="openDialogTerms()">Términos y condiciones</span> </label>
</ng-container>
  	
<button class="btn-registration" (click)="nextStep()">{{_butonLabel}}</button>
<button *ngIf="_showIngresar" class="btn-registration"><a routerLink="/public/login">INGRESAR</a></button>





	