:host ::ng-deep {
  .mat-horizontal-stepper-header-container {
  	display: none !important;
  }
  .mat-select-arrow {
  	width: 0;
  }

  .form-wrapper {
	position: absolute;
	left: 5vw;
	top: 0;
  	margin-bottom: 40px;
  	background-color: white;
	padding: 5vh 6vw;
	@media all and (min-width: 28em) {
	  left: 22.5vw;
	}

  	@media all and (min-width: 48em) {
	  position: static;
  	  padding: 0px;
  	  margin: 0px;
  	}
  }

  .wrap_overflow {
	@media all and (min-width: 48em) {
	  max-height: 90vh;
	  overflow: auto;
	}
	.btn-registration {
	  margin: 4rem auto 0;
	}
  }

  .terms-wrapper {
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  	margin: 10px;
  	height: 600px;
  	@media all and (min-width: 48em) {
  	  top: 0px;
  	  margin: 20px;
  	  width: 95%;
  	  height: 95vh;
  	}  
  	.terms {
  	  display: flex;
  	  flex-direction: column;
  	  justify-content: space-around;
  	  border: 2px solid #67cbec;
  	  padding: 38px;
  	  background-color: white;
  	  height: 100%;  
  	  h1 {
  	    font-size: 2.7rem;
	  }		  
  	  p {
  	  	font-size: 1.5rem;
  	  }  	  
  	  button {
  	  	margin: 0px auto;
  	  	width:50%;
	  }		  
  	  @media all and (min-width: 48em) {
  	  	h1 {
  	  	  font-size: 3.5rem;
  	  	}  
  	  	p {
  	  	  font-size: 1.7rem;
  	  	}
  	  }
  	}
  }
}