<h1>MI CUENTA</h1>

<mk-form name="password-change"></mk-form>

<button mkStepvalidate [form]="_form_group" _ngcontent-c3="" class="btn" (onClicked)="send()">ACTUALIZAR</button>

<cam-response *ngIf="_showResponse" title="Tu contraseña ha sido actualizada" btn="ACEPTAR" img="/assets/img/icon-confirm.png" (onBtnClick)="goToAcount()"></cam-response>

<cam-response *ngIf="_showResponse" [title]="_response_obj.title" [text]="_response_obj.text" [btn]="_response_obj.btn" [img]="_response_obj.img" [callback]="_response_obj.callback.bind(this)"></cam-response>