@import '~scss/abstracts/variables';

:host ::ng-deep {
  .passchange {
		padding: 5vh 5vw;
		@media all and (min-width: 48em) {
			margin-top: 0;
		}

	  h1 {
	    color: $color-cuenta;
	    font-size: calc(2vw + 2vh + 1vmin);
	    padding-bottom: 2vh;
	    @media all and (min-width: 48em) {
	    	font-size: calc(1.1vw + 1.1vh + .7vmin);
	    }
		}
		
	  button {
	    color: white;
			background-color: $color-cuenta;
			margin-top: 2vh;
	    padding: 1vh;
	    border-radius: 30px;
	    border: 1px solid $color-cuenta;
	    width: 40vw;
	    font-size: calc(1.4vw + 1.4vh + 0.7vmin);
	    @media all and (min-width: 48em) {
	      width: 15vw;
	      font-size: calc(.6vw + .6vh + .3vmin);
	    }
	  }  
  }
}

.button-back {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  background: $color-cuenta;
  padding: 13px 20px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  box-shadow: 1px 1px 1px darken($color-cuenta, 50);
  cursor: pointer;
  &:active {
    box-shadow: none;
    bottom: 9.75vh;
    right: 4.75vw;
  }
}