@import '~scss/abstracts/variables';

:host ::ng-deep
{
	button
	{
		color: white;
		background-color: $color-cuenta;
		padding: 1vh;
		border-radius: 30px;
		border: 1px solid $color-cuenta;
		width: 12vw;
		font-size: calc(.6vw + .6vh + .3vmin);
	}

	h1
	{
		color: $color-cuenta;
		font-size: calc(1.1vw + 1.1vh + .7vmin);
		padding-bottom: 2vh;
	}
}