@import '~scss/abstracts/variables';

:host ::ng-deep
{
	.user
	{
		position: relative;
		display: inline-flex;

		.avatar
		{
			width: 160px;
		    height: 160px;
		    border-radius: 50%;
			overflow: hidden;
			
			.avatar__username {
				position: absolute;
				margin-top: -50px;
				color: white;
				font-size: 16px;
			}
		}

		.button
		{
			background-color: rgba(0, 0, 0, 0.2);
		    border-radius: 50%;
		    width: 40px;
		    height: 40px;
		    position: absolute;
		    display: block;
		    right: 0px;
		    bottom: 0px;

		    img
		    {
		    	margin: 0px auto;
			    width: 20px;
			    display: inherit;
			    position: relative;
			    top: 8px;
		    }
		}
	}

	input#custom-input 
	{
    	display: none;
	}
}
